<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos para el fondo */
        body {
            background-color: #f8f9fa;
            background-image: url('../../images/estadio.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        /* Estilos para el contenedor principal */
        .container {
            padding: 5px;
            text-align: center;
        }

        p {
            font-weight: bold;
        }

        h2 {
            color: #007bff;
            font-weight: bold;
        }

        /* Estilos para los botones de acción */
        .action-btn {
            border: none;
            background: none;
            cursor: pointer;
            transition: transform 0.3s, filter 0.3s;
        }

            .action-btn:hover {
                transform: scale(1.1);
                filter: brightness(1.2);
            }

        /* Estilos para el texto de los botones */
        .btn-label {
            font-size: 18px;
            margin-top: 10px;
        }

        /* Estilos para el fondo del formulario */
        .form-bg {
            background-color: rgba(239, 156, 86, 0.5);
        }

        .imagen-producto {
            width: 200px; /* Tamaño deseado para la imagen */
            height: auto; /* Altura automática para mantener la proporción */
        }

        .content-container {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para resaltar el texto */
            border-radius: 8px;
            margin-top: 20px;
        }

        /* Estilos para el texto dentro de los productos */
        .card-body h5,
        .card-body p {
            color: #000; /* Color del texto negro */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Catálogo de Productos</h1>
        <div class="row justify-content-center mt-5">
            <!-- Producto 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                  
                    <img src="~/images/camisetaentrenonegra.jpg" class="card-img-top imagen-producto" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Camiseta entreno </h5>
                        <p class="card-text">Tecnologia Preadd</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                  
                    <img src="~/images/prepartidoindumentaria.jpg" class="card-img-top imagen-producto" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">Indumentaria Calentamiento</h5>
                        <p class="card-text">La nueva piel de Trueno </p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>



            <!-- Producto 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                   
                    <img src="~/images/indumentariaprepartidooscuravisi.jpg" class="card-img-top imagen-producto" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Sudadera Visitante  </h5>
                        <p class="card-text">Chaqueta Pre VictoriaVisitante</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>



            <!-- Producto 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                  
                    <img src="~/images/retro.jpg"  class="card-img-top imagen-producto" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Sudadera Retro </h5>
                        <p class="card-text">Sudadera 2000 Retro</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>



            <!-- Agrega más productos según sea necesario -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
