<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos para el fondo */
        body {
            background-color: #f8f9fa;
            background-image: url('../../images/estadio.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Estilos para el contenedor principal */
        .container {
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #007bff;
            font-weight: bold;
        }

        /* Estilos para los productos */
        .card {
            background-color: transparent;
            border: none;
            transition: transform 0.3s;
            border-radius: 15px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

            .card:hover {
                transform: translateY(-10px);
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            }

        .card-img-top {
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            color: #FFA500;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .card-text {
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 15px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-weight: bold;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        /* Estilos para el contenedor de detalles */
        #detallesContainer {
            display: none;
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        #detallesContent {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Catálogo de Productos</h1>
        <div class="row justify-content-center">
            <!-- Producto 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/camisetaentrenonegra.jpg" class="card-img-top" alt="Camiseta Entrenamiento">
                    <div class="card-body">
                        <h5 class="card-title">Camiseta Entrenamiento</h5>
                        <p class="card-text">Tecnología Preadd</p>
                        @*<button class="btn btn-primary" onclick="verDetalles(1)">Ver Detalles</button>*@
                    </div>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/prepartidoindumentaria.jpg" class="card-img-top" alt="Indumentaria Calentamiento">
                    <div class="card-body">
                        <h5 class="card-title">Indumentaria Calentamiento</h5>
                        <p class="card-text">La nueva piel de Trueno</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(2)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/indumentariaprepartidooscuravisi.jpg" class="card-img-top" alt="Sudadera Visitante">
                    <div class="card-body">
                        <h5 class="card-title">Sudadera Visitante</h5>
                        <p class="card-text">Chaqueta Pre Victoria Visitante</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(3)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 4 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/retro.jpg" class="card-img-top" alt="Sudadera Retro">
                    <div class="card-body">
                        <h5 class="card-title">Sudadera Retro</h5>
                        <p class="card-text">Sudadera 2000 Retro</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(4)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 5 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/balon.jpg" class="card-img-top" alt="Balón de Fútbol">
                    <div class="card-body">
                        <h5 class="card-title">Balón de Fútbol</h5>
                        <p class="card-text">Precio: $20</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(5)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 6 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/conos.jpg" class="card-img-top" alt="Conos de Entrenamiento">
                    <div class="card-body">
                        <h5 class="card-title">Conos de Entrenamiento</h5>
                        <p class="card-text">Precio: $10</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(6)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 7 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/red.jpg" class="card-img-top" alt="Red de Fútbol">
                    <div class="card-body">
                        <h5 class="card-title">Red de Fútbol</h5>
                        <p class="card-text">Precio: $50</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(7)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 8 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/botella.jpg" class="card-img-top" alt="Botella de Agua">
                    <div class="card-body">
                        <h5 class="card-title">Botella de Agua</h5>
                        <p class="card-text">Precio: $5</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(8)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 9 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/Conjunto_de_pesas.jpg" class="card-img-top" alt="Conjunto de Pesas">
                    <div class="card-body">
                        <h5 class="card-title">Conjunto de Pesas</h5>
                        <p class="card-text">Precio: $30</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(9)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 10 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/guantes.jpg" class="card-img-top" alt="Guantes de Portero">
                    <div class="card-body">
                        <h5 class="card-title">Guantes de Portero</h5>
                        <p class="card-text">Precio: $15</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(10)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 12 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/deportivas.jpg" class="card-img-top" alt="Zapatillas de Fútbol">
                    <div class="card-body">
                        <h5 class="card-title">Zapatillas de Fútbol</h5>
                        <p class="card-text">Precio: $40</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(12)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 13 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/baloncesto.jpg" class="card-img-top" alt="Balón de Baloncesto">
                    <div class="card-body">
                        <h5 class="card-title">Balón de Baloncesto</h5>
                        <p class="card-text">Precio: $30</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(13)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 16 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/invitado.jpg" class="card-img-top" alt="Camiseta de Entreno">
                    <div class="card-body">
                        <h5 class="card-title">Camiseta de Entreno</h5>
                        <p class="card-text">Precio: $35</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(16)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 17 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/calentar.jpg" class="card-img-top" alt="Indumentaria de Calentamiento">
                    <div class="card-body">
                        <h5 class="card-title">Indumentaria de Calentamiento</h5>
                        <p class="card-text">Precio: $55</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(17)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>

            <!-- Producto 18 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://localhost:7074/images/cuerda.jpg" class="card-img-top" alt="Cuerda para Saltar">
                    <div class="card-body">
                        <h5 class="card-title">Cuerda para Saltar</h5>
                        <p class="card-text">Precio: $10</p>
                        @*<a href="#" class="btn btn-primary" onclick="verDetalles(18)">Ver Detalles</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detallesContainer">
        <div id="detallesContent"></div>
    </div>

    <script>
        function verDetalles(productoId) {
            
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
