@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ciudad:  Madrid<br />
        Calle Madrilejos 321 <br />

        <abbr title="Phone">Telefono Principal : </abbr>
        912 413 567
    </address>

    <address>
        <strong>Atencion al cliente:</strong>   <a href="mailto:Support@example.com">Support@Trueno.com</a><br />
        <strong>Primer Equipo</strong> <a href="mailto:Entrenador@example.com">Entrenador@Trueno.com</a>
    </address>
</main>